<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestión de Fichajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (item of fichajes; track item.IdFichaje) {
      <!--hay fichajes-->
      <ion-item>
        <ion-label>
          <h2>Fichaje ID: {{ item.IdFichaje }}</h2>
          <p>Trabajo ID: {{ item.IdTrabajo }}</p>
          <p>Usuario ID: {{ item.IdUsuario }}</p>
          <p>Entrada: {{ item.FechaHoraEntrada | date:'dd/MM/yyyy HH:mm' }}</p> <!--pa dejar la fecha bonita cambio el formato-->
          <!--en el caso de que no ha cerrado el fichaje, muestra "en curso"-->
          <p>Salida: {{ item.FechaHoraSalida ? (item.FechaHoraSalida | date:'dd/MM/yyyy HH:mm') : 'En curso' }}</p>
          <p>Horas: {{ item.HorasTrabajadas || 0 }}h</p>
        </ion-label>
        <ion-button (click)="mapa(item)" color="warning" size="small">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <!--no hay fichajes-->
      <ion-item>
        <ion-label>No hay fichajes registrados</ion-label>
      </ion-item>
    }
  </ion-list>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
