<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestión de Fichajes
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="usuario"> <ion-button (click)="cambiarModo('usuario')" [color]="modo === 'usuario' ? 'primary' : 'medium'">
        Por Usuario
      </ion-button>
      <ion-button (click)="cambiarModo('fecha')" [color]="modo === 'fecha' ? 'primary' : 'medium'">
        Por Fechas
      </ion-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    @if (modo === 'usuario') {
      <ion-searchbar placeholder="Buscar ID Usuario..." (ionInput)="buscarUsuario($event)"></ion-searchbar>
    }

    @if (modo === 'fecha') {
      <ion-item>
        <ion-label position="stacked">Desde (Entrada):</ion-label>
        <ion-input type="date" [(ngModel)]="filtroFechaIni"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Hasta (Salida):</ion-label>
        <ion-input type="date" [(ngModel)]="filtroFechaFin"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="buscarPorFecha()">Filtrar Fechas</ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (item of fichajes; track item.IdFichaje) {
      <!--hay fichajes-->
      <ion-item>
        <ion-label>
          <h2>Fichaje ID: {{ item.IdFichaje }}</h2>
          <p>Trabajo ID: {{ item.IdTrabajo }}</p>
          <p>Usuario ID: {{ item.IdUsuario }}</p>
          <p>Entrada: {{ item.FechaHoraEntrada | date:'dd/MM/yyyy HH:mm' }}</p> <!--pa dejar la fecha bonita cambio el formato-->
          <!--en el caso de que no ha cerrado el fichaje, muestra "en curso"-->
          <p>Salida: {{ item.FechaHoraSalida ? (item.FechaHoraSalida | date:'dd/MM/yyyy HH:mm') : 'En curso' }}</p>
          <p>Horas: {{ item.HorasTrabajadas || 0 }}h</p>
        </ion-label>
        <ion-button (click)="mapa(item)" color="success" size="small">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <!--no hay fichajes-->
      <ion-item>
        <ion-label>No hay fichajes registrados</ion-label>
      </ion-item>
    }
  </ion-list>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
