<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestión de Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (item of usuarios; track item.IdUsuario) {
      <!--hay usuarios-->
      <ion-item>
        <ion-label>
          <h2>Nombre: {{ item.Nombre }}</h2>
        </ion-label>
        <ion-button (click)="editUsuario(item)" color="warning" size="small">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteUsuario(item)" color="danger" size="small">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <!--no hay usurios-->
      <ion-item>
        <ion-label>No hay usuarios creados</ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-button [routerLink]="['/nuevo']" expand="block">
    Nuevo Usuario
  </ion-button>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
